[submodule "ffmpeg"]
	path = modules/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "lame"]
	path = modules/lame
	url = https://github.com/rbrito/deprecated-lame-mirror.git
[submodule "ogg"]
	path = modules/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "vorbis"]
	path = modules/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "opus"]
	path = modules/opus
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "vpx"]
	path = modules/vpx
	url = https://chromium.googlesource.com/webm/libvpx
[submodule "x264"]
	path = modules/x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "xvid"]
	path = modules/xvid
	url = https://github.com/Distrotech/xvidcore.git
[submodule "ocamr"]
	path = modules/ocamr
	url = https://github.com/Distrotech/opencore-amr.git
[submodule "voamrwbenc"]
	path = modules/voamrwbenc
	url = https://github.com/Distrotech/vo-amrwbenc.git
[submodule "sdl2"]
	path = modules/sdl2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "webp"]
	path = modules/webp
	url = https://github.com/webmproject/libwebp.git
[submodule "zlib"]
	path = modules/zlib
	url = https://github.com/madler/zlib.git
[submodule "jpeg"]
	path = modules/jpeg
	url = https://github.com/uclouvain/openjpeg.git
[submodule "x265"]
	path = modules/x265
	url = https://github.com/videolan/x265.git
[submodule "orc"]
	path = modules/orc
	url = https://salsa.debian.org/gstreamer-team/orc.git
[submodule "theora"]
	path = modules/theora
	url = https://github.com/Distrotech/libtheora.git
[submodule "bzip2"]
	path = modules/bzip2
	url = https://github.com/opencor/bzip2.git
[submodule "numa"]
	path = modules/numa
	url = https://github.com/numactl/numactl.git
[submodule "aom"]
	path = modules/aom
	url = https://aomedia.googlesource.com/aom
