[submodule "ffmpeg"]
	path = modules/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "ogg"]
	path = modules/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "vorbis"]
	path = modules/vorbis
	url = https://github.com/paulrouget/vorbis.git
[submodule "opus"]
	path = modules/opus
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "vpx"]
	path = modules/vpx
	url = https://chromium.googlesource.com/webm/libvpx
[submodule "x264"]
	path = modules/x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "xvid"]
	path = modules/xvid
	url = https://github.com/Distrotech/xvidcore.git
[submodule "ocamr"]
	path = modules/ocamr
	url = https://github.com/Distrotech/opencore-amr.git
[submodule "voamrwbenc"]
	path = modules/voamrwbenc
	url = https://github.com/Distrotech/vo-amrwbenc.git
[submodule "webp"]
	path = modules/webp
	url = https://github.com/webmproject/libwebp.git
[submodule "jpeg"]
	path = modules/jpeg
	url = https://github.com/uclouvain/openjpeg.git
[submodule "x265"]
	path = modules/x265
	url = https://github.com/videolan/x265.git
[submodule "aom"]
	path = modules/aom
	url = https://aomedia.googlesource.com/aom
[submodule "modules/openssl"]
	path = modules/openssl
	url = https://github.com/openssl/openssl.git
[submodule "modules/theora"]
	path = modules/theora
	url = https://github.com/xiph/theora.git
[submodule "modules/zlib"]
	path = modules/zlib
	url = https://github.com/madler/zlib.git
[submodule "modules/lame"]
	path = modules/lame
	url = https://github.com/paulrouget/lame.git
[submodule "modules/libxml2"]
	path = modules/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
